html { box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
  //transition: .3s;
}

body {
  background-color: #fff;
  color: $base-color;
  //font-family: "OpenSansLight", "Gabriola", sans-serif;
  font-family: "OpenSans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: center;
  //max-width: 1200px;
  margin: 0 auto;
  @media (min-width: $screen-lg) {
    font-weight: normal;
  }
  &:after {
    content: "";
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(111, 111, 111, .7);
    background-color: rgba(#000, .7);
    z-index: 10;
  }
  &.show-overlay {
    &:after {
      display: block;
      @media (min-width: $screen-lg) {
        //display: none;
      }
    }
  }
}

.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}

.outline {
  outline: 1px solid red;
}

.icon {
  position: relative;
}

.icon:before,
.icon:after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.veil {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(111, 111, 111, .7);
  background-color: rgba(#000, .7);
  z-index: 10;
  &--hidden {
    display: none;
  }
}

.show-for-mobile {
  @media (min-width: $screen-md) {
    display: none;
  }
}

input[type=text] {
  transition: all .3s;
  &:hover:not(:disabled) {
    border-color: $base-color;
  }
  &:focus:not(:disabled),
  &:active:not(:disabled) {
    border-color: $color-red;
  }
}

.preloader {
  visibility: hidden;
  width: 0;
  height: 0;
  &__logo-top {
    background-image: url(../img/logotype-white-mobile.svg);
    @media (min-width: $screen-md) {
      background-image: url(../img/logotype-white-tablet.svg);
    }
    @media (min-width: $screen-lg) {
      background-image: url(../img/logotype-white-desktop.svg);
    }
  }
  &__logo-top-hover {
    background-image: url(../img/logotype-white-mobile--hover.svg);
    @media (min-width: $screen-md) {
      background-image: url(../img/logotype-white-tablet--hover.svg);
    }
    @media (min-width: $screen-lg) {
      background-image: url(../img/logotype-white-desktop--hover.svg);
    }
  }

  &__logo-bottom {
    background: url(../img/logotype-blue-tablet.svg);
    @media (min-width: $screen-lg) {
      background: url(../img/logotype-blue-desktop.svg);
    }
  }
  &__logo-bottom-hover {
    background: url(../img/logotype-blue-tablet--hover.svg);
    @media (min-width: $screen-lg) {
      background: url(../img/logotype-blue-desktop--hover.svg);
    }
  }
}
