/* --- footer --------------------------------------------*/

.logo--bottom {
  position: static;
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 40px;
  width: 145px;
  height: 40px;
}

.socials {
  margin: 0 auto;
  margin-bottom: 47px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 176px;
  &__item {
    font-size: 0;
    &:before {
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 3px solid $color-light-blue-border;
    }
  }
}

.developed {
  display: block;
  margin-bottom: 60px;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: 18px;
  color: $base-color;
  text-decoration: none;
}
