.header {
  position: relative;
  margin: 0 0 47px;
  padding: 0;
  &__front {
    margin: 0;
    padding: 66px 0 0;
    width: auto;
    &--img {
      height: $palm-height-mobile;
      background-size: 260px auto;
      background: url("../img/iphone-hand-mobile.png") bottom no-repeat;
      @media (min-resolution: 1.5dppx) {
        background: url("../img/iphone-hand-mobile@2x.png") bottom no-repeat;
        background-size: 260px auto;
      }
      @media (min-resolution: 2.5dppx) {
        background: url("../img/iphone-hand-mobile@3x.png") bottom no-repeat;
        background-size: 260px auto;
      }
      @media (min-width: $screen-md) {
        height: $palm-height-tablet;
        background: url("../img/iphone-hand-tablet@1x.png") 60% 100% no-repeat;
        background-size: auto 545px;
        @media (min-resolution: 1.5dppx) {
          background: url("../img/iphone-hand-tablet@2x.png") 60% 100% no-repeat;
          background-size: auto 545px;
        }
      }
      @media (min-width: $screen-lg) {
        height: $palm-height-desktop;
        background: url("../img/iphone-hand-desktop@1x.png") 100% 100% no-repeat;
        background-size: auto 645px;
        @media (min-resolution: 1.5dppx) {
          background: url("../img/iphone-hand-desktop@2x.png") 100% 100% no-repeat;
          background-size: auto 645px;
        }
      }
    }
    &-text {
      margin: 0;
      padding: 14px 20px;
      font-weight: 100;
      font-size: 24px;
      line-height: $header-line-height;
      color: #fff;
      @media (min-width: $screen-md) {
        padding: 82px 20px 80px 20px;
        font-size: 50px;
        line-height: 59px;
      }
      @media (min-width: $screen-lg) {
        padding: 108px 231px 101px;
      }
    }
  }
  &--blog &__wrap {
    min-height: 197px;
    @media (min-width: $screen-md) {
      min-height: 376px;
    }
  }
  &__wrap {
    position: relative;
    width: auto;
    min-height: 237px;
    background: #2e3e4f url("../img/background-mobile@1x.jpg") no-repeat center;
    background-size: cover;
    @media (min-resolution: 1.5dppx) {
      background: #2e3e4f url("../img/background-mobile@2x.jpg") no-repeat center;
      background-size: cover;
    }
    @media (min-resolution: 2.5dppx) {
      background: #2e3e4f url("../img/background-mobile@3x.jpg") no-repeat center;
      background-size: cover;
    }
    @media (min-width: $screen-md) {
      background: #2e3e4f url("../img/background-tablet@1x.jpg") no-repeat 50% 26%;
      background-size: cover;
      @media (min-resolution: 1.5dppx) {
        background: #2e3e4f url("../img/background-tablet@2x.jpg") no-repeat 50% 26%;
        background-size: cover;
      }
    }
    @media (min-width: $screen-lg) {
      background: #2e3e4f url("../img/background-fullsize.jpg") no-repeat 50% 26%;
      background-size: cover;
    }
  }
  &--blog {
    margin: 0 0 29px;
    @media (min-width: $screen-md) {
      margin-bottom: 90px;
    }
    @media (min-width: $screen-lg) {
      margin-bottom: 100px;
    }
  }
  &--index &__wrap {
    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }
  &--index {
    @media (min-width: $screen-md) {
      margin-bottom: 78px;
    }
    min-height: $palm-height-tablet;
    background-color: #1d2631;
    flex-direction: column;
    display: flex;
  }
  &--form {
    @media (min-width: $screen-lg) {
      margin: 0 0 92px;
    }
  }
}


.nav {
  position: absolute;
  padding: 0;
  margin: 0;
  min-height: $nav-height;
  width: 100%;
  background-color: rgba(#000, .33333);
  z-index: 15;
  @media (min-width: $screen-md) {
    height: $nav-height-tablet;
  }
  &--expand {
    border-bottom: 1px solid #000;
    background-color: $base-color;
    min-height: $nav-height + 3;
    @media (min-width: $screen-md) {
      min-height: $nav-height-tablet + 3;
    }
    @media (min-width: $screen-lg) {
      min-height: $nav-height-tablet;
      border-bottom-width: 0;
      background-color: rgba(#000, .33333);
    }
  }
  &--expand &__list {
    display: block;
    @media (min-width: $screen-lg) {
      display: flex;
    }
  }
  &__list {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    right: 0;
    width: 100%;
    list-style: none;
    z-index: 5;
    top: $nav-height + 3;
    @media (min-width: $screen-md) {
      top: $nav-height-tablet + 3;
    }
    @media (min-width: $screen-lg) {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0 auto;
      top: 0;
      float: right;
      max-width: 800px;
    }
  }
  &__item a {
    align-self: flex-start;
    display: block;
    min-height: $nav-item-height;
    background-color: $base-color;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $nav-item-height;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $color-red;
      @media (min-width: $screen-lg) {
        position: relative;
        top: -2px;
        color: #fff;
      }
    }
    &:active {
      color: rgba($color-red, .3);
      @media (min-width: $screen-lg) {
        color: #fff;
        opacity: .3;
      }
    }
    @media (min-width: $screen-lg) {
      display: inline-block;
      padding: 0 35px;
      min-height: $nav-height-tablet;
      background-color: transparent;
      border-width: 0;
      font-weight: normal;
      font-size: $middle-font-size;
      line-height: $nav-height-tablet;
      text-transform: none;
    }
    &:hover:before {
      @media (min-width: $screen-lg) {
        position: relative;
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        bottom: -78px;
      }
    }
  }
}


.logo {
  //position: absolute;
  display: block;
  padding: 0;
  width: 75px;
  height: 23px;
  font-size: 0;
  &--top {
    position: relative;
    margin-top: ($nav-height - $logo-height) / 2;
    @media (min-width: $screen-md) {
      margin-top: (($nav-height-tablet - $logo-height) / 2) - ($logo-height-tablet - $logo-height);
    }
    @media (min-width: $screen-lg) {
      position: absolute;
    }
    &:before {
      position: absolute;
      content: "";
      display: block;
      z-index: 6;
      width: 75px;
      height: 23px;
      background-size: 75px 23px;
      background: url(../img/logotype-white-mobile.svg) no-repeat center;
      @media (min-width: $screen-md) {
        width: 147px;
        height: 41px;
        background-size: 147px 41px;
        background: url(../img/logotype-white-tablet.svg) no-repeat center;
      }
      @media (min-width: $screen-lg) {
        width: 147px;
        height: 41px;
        background-size: 147px 41px;
        background: url(../img/logotype-white-desktop.svg) no-repeat center;
      }
    }
    &:hover:before {
      background: url(../img/logotype-white-mobile--hover.svg) no-repeat center;
      @media (min-width: $screen-md) {
        background: url(../img/logotype-white-tablet--hover.svg) no-repeat center;
      }
      @media (min-width: $screen-lg) {
        background: url(../img/logotype-white-desktop--hover.svg) no-repeat center;
      }
    }
    &:active:before {
      opacity: 0.3;
      background: url(../img/logotype-white-mobile.svg) no-repeat center;
      @media (min-width: $screen-md) {
        background: url(../img/logotype-white-tablet.svg) no-repeat center;
      }
      @media (min-width: $screen-lg) {
        background: url(../img/logotype-white-desktop.svg) no-repeat center;
      }
    }
  }
  &--bottom {
    position: static;
    display: block;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 40px;
    width: 145px;
    height: 40px;
    background: url(../img/logotype-blue-tablet.svg) no-repeat center;
    @media (min-width: $screen-md) {
      margin: 0;
    }
    @media (min-width: $screen-lg) {
      background: url(../img/logotype-blue-desktop.svg) no-repeat center;
    }
    &:hover {
      background: url(../img/logotype-blue-tablet--hover.svg) no-repeat center;
      @media (min-width: $screen-lg) {
        background: url(../img/logotype-blue-desktop--hover.svg) no-repeat center;
      }
    }
    &:active {
      opacity: 0.3;
      background: url(../img/logotype-blue-tablet.svg) no-repeat center;
      @media (min-width: $screen-lg) {
        background: url(../img/logotype-blue-desktop.svg) no-repeat center;
      }
    }
  }
}


.menu-btn {
  position: absolute;
  right: 20px;
  height: $menu-btn-height;
  width: $menu-btn-width;
  top: ($nav-height - $menu-btn-height) / 2;
  cursor: pointer;
  z-index: 6;
  @include transition;
  @media (min-width: $screen-md) {
    top: ($nav-height-tablet - $menu-btn-height) / 2;
    right: 40px;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }

  /* кнопка меню "гамбургер" */
  box-shadow: inset 0 4px 0 0 #fff;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    left: 0;
    width: $menu-btn-width;
    height: $menu-btn-sheet-height;
    background-color: #fff;
  }
  &:before {top: $menu-btn-sheet-height + $menu-btn-sheet-margin;}
  &:after {top: ($menu-btn-sheet-height + $menu-btn-sheet-margin) * 2;}

  &:hover:before,
  &:hover:after {
    background-color: $color-red;
  }
  &:hover {
    box-shadow: inset 0 4px 0 0 $color-red;
  }
  &:active:before,
  &:active:after {
    background-color: $color-red;
    //opacity: .3;
  }
  &:active {
    box-shadow: inset 0 4px 0 0 $color-red;
    opacity: .3;
  }


  /* кнопка "крестик" для закрытия меню */
  &--close {
    width: $menu-btn-width;
    height: $menu-btn-height;
    border-radius: 2px;
    box-shadow: none;
    &:before,
    &:after {
      left: 50%;
      top: 50%;
      width: 31px;
      height: 4px;
      background-color: #fff;
      transform-origin: 50% 50%;
    }
    &:before { transform: translate(-50%, -50%) rotate(45deg); }
    &:after { transform: translate(-50%, -50%) rotate(-45deg); }
    /*&:active:before,
    &:active:after { background-color: #b7dff8; }*/
    &:hover,
    &:active {
      box-shadow: none;
    }
  }
}


.download {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 28px 20px 30px;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  @media (min-width: $screen-md) {
    padding-left: 40px;
    width: 50%;
    top: $nav-height;
    height: $palm-height-tablet - $nav-height;
  }
  @media (min-width: $screen-lg) {
    margin-left: 10%;//126px;
    width: 342px;
    height: 750px;
  }
  &__header {
    margin: 0;
    padding: 57px 20px 0;
    min-height: 460px;
    font-weight: 100;
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: #fff;
    @media (min-width: $screen-md) {
      padding-top: 108px;;
      padding-bottom: 28px;
      min-height: 0;
      font-size: 40px;
      line-height: 49px;
    }
    @media (min-width: $screen-lg) {
      padding: 126px 20px 53px;
      font-size: 50px;
      line-height: 59px;
    }
  }
  &__inner {
    margin: 0 auto;
  }
  &__btn {
    margin-bottom: 43px;
    padding: 16px 0 17px;
    width: 100%;
    background-color: $header-bg-color;
    border: 3px solid #fff;
    border-radius: 49px;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $middle-font-size;
    text-transform: none;
    @include transition;
    @media (min-width: $screen-md) {
      background-color: transparent;
    }
    @media (min-width: $screen-lg) {
      margin-bottom: 63px;
    }
    &:hover {
      background-color: #fff;
      color: $color-red;
    }
    &:active {
      color: rgba($color-red, .3);
    }
  }
  &__items{
    display: flex;
    margin: 0;
    padding: 0 14%;
    height: 84px;
    list-style: none;
    justify-content: space-between;
    @media (min-width: $screen-lg) {
      height: 113px;
    }
  }
  &__item {
    & a{
      display: inline-block;
      font-size: 0;
      width: 46px;
      height: 57px;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--ios a { background-image: url("../img/apple-logo.svg"); }
    &--and a { background-image: url("../img/android-logo.svg"); }
    &--win a { background-image: url("../img/microsoft-logo.svg"); }
  }
  &__text {
    margin: 0;
    @media (min-width: $screen-md) {
      font-weight: 100;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
