.header {
  position: relative;
  margin: 0 0 47px 0;
  padding: 0;
  &--blog &__wrap {
    min-height: 197px;
    @media (min-width: $screen-md) {
      min-height: 376px;
    }
  }
  &__wrap {
    position: relative;
    width: auto;
    min-height: 237px;
    background: #2e3e4f url("../img/bg.jpg") center no-repeat;
    background-size: cover;
  }
  &--blog {
    margin: 0 0 29px 0;
  }
  &--index &__wrap {
    @media (min-width: $screen-md) {
      margin-bottom: 90px;
      min-height: 440px;
      //height: 730px;
    }
    @media (min-width: $screen-lg) {
      margin-bottom: 0;
      //height: 100vh;
    }
    @media (min-width: $screen-lg) {
      //height: 854px;
      margin-bottom: 0;
      //height: 100vh;
    }
  }
  &--index {
    @media (max-width: $screen-lg - 1) {
      height: 100vh;
    }
    @media (min-width: $screen_md) {
      margin-bottom: 78px;
    }
    min-height: 730px;
    background-color: #1d2631;
    flex-direction: column;
    display: flex;
  }
}


.nav {
  position: absolute;
  padding: 0;
  margin: 0;
  height: $nav-height;
  width: 100%;
  background-color: rgba(#000, .33333);
  z-index: 5;
  @media (min-width: $screen-md) {
    height: $nav-height-tablet;
  }
  @media (min-width: $screen-lg) {
    float: right;
  }
  &--expand {
    height: $nav-height + 3;
    border-bottom: 1px solid #000;
    background-color: $base-color;
    @media (min-width: $screen-lg) {
      height: $nav-height-tablet;
      border-bottom-width: 0;
      background-color: rgba(#000, .33333);
    }
  }
  &--expand &__list {
    display: block;
  }
  &__list {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    top: $nav-height + 3;
    width: 100%;
    list-style: none;
    z-index: 5;
    @media (min-width: $screen-lg) {
      display: block;
      margin: 0 auto;
      padding-right: 95px;
      top: 0;
      //background-color: transparent;
    }
  }
  &__item a {
    display: block;
    height: $nav-item-height;
    background-color: $base-color;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $nav-item-height;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    @media (min-width: $screen-lg) {
      float: right;
      display: inline-block;
      padding: 0 35px;
      height: $nav-height-tablet;
      background-color: transparent;
      border-width: 0;
      font-weight: normal;
      font-size: $middle-font-size;
      line-height: $nav-height-tablet;
      text-transform: capitalize;
    }
  }
}


.logo {
  position: absolute;
  display: block;
  padding: 0;
  width: 75px;
  height: 23px;
  font-size: 0;
  &--top {
    position: relative;
    margin: 21px 20px;
    &:before {
      position: absolute;
      content: "";
      display: block;
      z-index: 6;
      width: 75px;
      height: 23px;
      background-size: 75px 23px;
      background: url(../img/logotype-white-mobile.svg) no-repeat center;
      @media (min-width: $screen-md) {
        width: 147px;
        height: 41px;
        background-size: 147px 41px;
        background: url(../img/logotype-white-tablet.svg) no-repeat center;
      }
      @media (min-width: $screen-lg) {
        width: 147px;
        height: 41px;
        background-size: 147px 41px;
        background: url(../img/logotype-white-desktop.svg) no-repeat center;
      }
    }
  }
  &--bottom {
    position: static;
    display: block;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 40px;
    width: 145px;
    height: 40px;
    background: url(../img/logotype-blue-tablet.svg) no-repeat center;
    @media (min-width: $screen-md) {
      margin: 0;
    }
    @media (min-width: $screen-lg) {
      background: url(../img/logotype-blue-desktop.svg) no-repeat center;
    }
  }
}


.menu-btn {
  position: absolute;
  top: 21px;
  right: 20px;
  height: ($menu-btn-sheet-height * 3) + ($menu-btn-sheet-margin * 2);
  width: $menu-btn-width;
  cursor: pointer;
  z-index: 6;

  /* кнопка меню "гамбургер" */
  box-shadow: inset 0 4px 0 0 #fff;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    left: 0;
    width: $menu-btn-width;
    height: $menu-btn-sheet-height;
    background-color: #fff;
  }
  &:before {top: $menu-btn-sheet-height + $menu-btn-sheet-margin;}
  &:after {top: ($menu-btn-sheet-height + $menu-btn-sheet-margin) * 2;}

  /* кнопка "крестик" для закрытия меню */
  &--close {
    width: 22px;
    height: 22px;
    border-radius: 2px;
    box-shadow: none;
    &:before,
    &:after {
      top: 50%;
      width: 31px;
      height: 4px;
      background-color: #fff;
      transform-origin: 50% 50%;
    }
    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }
    &:active:before,
    &:active:after { background-color: #b7dff8; }
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}


.front {
  margin: 0;
  padding: 66px 0 0 0;
  width: auto;
  &--img {
    height: $palm-height-mobile;
    background: url("../img/palm.png") 50% 119% no-repeat;
    background-size: 320px auto;
    /*background: url("../img/iphone-hand-mobile.png") bottom no-repeat;
    background-size: auto 268px;*/
    @media (min-width: $screen_md) {
      height: $palm-height-tablet;//730px;
      background: url("../img/palm-tablet.png") 60% 100% no-repeat;
      /*height: 100%;
      background: url("../img/iphone-hand-tablet@1x.png") bottom no-repeat;
      background-size: auto 545px;*/
    }
    @media (min-width: $screen-lg) {
      height: $palm-height-desktop;
      background: url("../img/iphone-hand-desktop@1x.png") 100% 100% no-repeat;
      /*height: 100%;
      background: url("../img/iphone-hand-desktop@1x.png") bottom no-repeat;
      background-size: auto 645px;*/
    }
  }
  &__text {
    padding: 14px 20px;
    font-weight: 100;
    font-size: 24px;
    line-height: $header-line-height;
    color: #fff;
    @media (min-width: $screen_md) {
      padding-top: 82px;
      padding-bottom: 80px;
      font-size: 50px;
      line-height: 59px;
    }
  }
}


.download {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 28px 20px 30px;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  @media (min-width: $screen_md) {
    width: 50%;
    top: $nav-height;
    height: $palm-height-tablet - $nav-height;
  }
  @media (min-width: $screen_lg) {
    margin-left: 10%;//126px;
    width: 342px;
    //padding: 28px 160px 30px;
  }
  &__header {
    margin: 0;
    padding: 57px 20px 0;
    min-height: 460px;
    font-weight: 100;
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: #fff;
    @media (min-width: $screen_md) {
      padding-top: 174px;
      padding-bottom: 28px;
      min-height: 0;
      font-size: 40px; //$header-font-size;
      line-height: 49px; //$header-line-height;
    }
    @media (min-width: $screen_md) {
      font-size: 50px; //$header-font-size;
      line-height: 59px; //$header-line-height;
    }
  }
  &__inner {
    margin: auto;
    @media (min-width: $screen_md) {
      //margin: 0;
      //margin-bottom: 205px;
    }
  }
  &__btn {
    margin-bottom: 26px;
    padding: 16px 0 17px;
    width: 100%;
    background-color: $header-bg-color;
    border: 3px solid #fff;
    border-radius: 49px;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $middle-font-size;
    text-transform:none;
    @media (min-width: $screen_md) {
      background-color: transparent;
    }
  }
  &__items{
    display: flex;
    margin: 0;
    padding: 0 14%;
    height: 84px;
    list-style: none;
    justify-content: space-between;
  }
  &__item {
    & a{
      display: inline-block;
      font-size: 0;
      width: 46px;
      height: 57px;
      background-position: center;
      background-repeat: no-repeat;
    }
    &--ios a { background-image: url("../img/icon-apple.png"); }
    &--and a { background-image: url("../img/icon-android.png"); }
    &--win a { background-image: url("../img/icon-windows.png"); }
  }
  &__text {
    margin: 0;
    @media (min-width: $screen_md) {
      font-weight: 100;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
