.logo-svg {
  fill: lime;
  &__part {
    fill: green;
  }
}


.big_text {
  font-weight: 100;
  font-size: $header-font-size;
  line-height: $header-line-height;
  @media (min-width: $screen_md) {
    margin-top: 50px;
    font-size: 40px;
    line-height: 47px;
  }
  &--offer {
    margin-top: -6px;
    margin-bottom: 0px;
  }
  &--ask {
    margin: 55px 0 31px;
    @media (min-width: $screen_md) {
      margin: 105px 0 41px;
    }
    @media (min-width: $screen_lg) {
      margin: 165px 0 55px;
    }
  }
}


.benefits {
  @media (min-width: $screen_md) {
    display: flex;
    margin-bottom: 18px;//70px;
    text-align: left;
    &:after {
      @include clearfix;
    }
  }
  @media (min-width: $screen_lg) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 77px;
  }
  &__items {
    margin: 93px 0 0;
    line-height: $base-line-height;
    @media (min-width: $screen_md) {
      margin-top: 128px;
      width: calc(97% - 290px);
      order: 2;
    }
    @media (min-width: $screen_lg) {
      display: flex;
      justify-content: space-between;
      margin: 65px 0 41px;
      width: 100%;
    }
  }
  &__item {
    margin-bottom: 40px;
    @media (min-width: $screen_md) {
      margin-bottom: 35px;
    }
    @media (min-width: $screen_lg) {
      margin-bottom: 0;
      padding: 0 25px;
      flex-basis: 292px;
      text-align: center;
    }
  }
  &__head {
    margin: 0 0 24px;
    color: #000;
    font-weight: bold;
    font-size: $middle-font-size;
    @media (min-width: $screen_md) {
      margin-bottom: 11px;
    }
    @media (min-width: $screen_lg) {
      margin-bottom: 25px;
      font-size: $header-line-height;
      line-height: $header-line-height;
    }
  }
  &__text {
    margin: 0;
    font-weight: normal;
    font-size: $base-font-size;
    @media (min-width: $screen_lg) {
      font-size: $middle-font-size;
      line-height: $header-line-height;
    }
  }
  &__pictures {
    @media (min-width: $screen_md) {
      padding-right: 40px;
      order: 1;
    }
    @media (min-width: $screen_lg) {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  &__pic {
    margin: 0 0 39px;
    padding: 0;
    //height: 157px;
    background-size: 155px 320px;
    &--1, &--2 { display: none; }
    &--3 {
      height: 278px;
      width: auto;
      background:
        url(../img/iphone-screen-mobile-3@1x.png) no-repeat center 34px,
        url(../img/iphone-case-mobile@1x.png) no-repeat top;
      background-size:
        141px,
        157px;
    }
    @media (min-width: $screen_md) {
      float: left;
      margin-top: 55px;
      height: 481px;
      width: 268px;
      background-size: 268px 481px;
      &--3 {
        background: url(../img/iphone-screen-tablet-3@1x.png) no-repeat;
      }
    }
    @media (min-width: $screen_lg) {
      flex-shrink: 1;
      margin: 0;
      height: 302px;
      flex-basis: 292px;
      background-size: 292px 302px;
      &--1 {
        display: block;
        background: url(../img/iphone-screen-desktop-1@1x.png) no-repeat;
      }
      &--2 {
        display: block;
        background: url(../img/iphone-screen-desktop-2@1x.png) no-repeat;
      }
      &--3 {
        display: block;
        background: url(../img/iphone-screen-desktop-3@1x.png) no-repeat;
      }
    }
  }
}


.effect24 {
  display: none;
  padding-bottom: 58px;
  @media (min-width: $screen_md) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
  }
  @media (min-width: $screen_lg) {
    padding-bottom: 190px;
  }
  &__icon-wrapper {
    position: relative;
    width: 262px;
    height: 302px;
    background: url(../img/timer.svg) no-repeat;
    background-size: contain;
  }
  &__icon {
    position: absolute;
    top: 65px;
    left: -1px;
    margin-left: 25px;
    width: 214px;
    height: 214px;
    font-weight: bold;
    font-size: 104.6px;
    line-height: 188px;
    color: $color-red;
    border: 11px solid $color-red;
    border-radius: 50%;
    flex-basis: 214;
    align-self: center;
  }
  &__info {
    padding-left: 46px;
    text-align: left;
    width: 100px;
    flex-grow: 1;
    align-self: center;
  }
  &__header {
    padding-right: 50%;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: $header-font-size;
    line-height: 36px;
  }
  &__text,
  &__more {
    font-size: $base-font-size;
    line-height: $header-font-size;
  }
  &__more {
    color: $color-red;
    text-decoration: underline;
  }
}


.slider-review {
  display: flex;
  flex-direction: column;
  //margin-bottom: 100px;
  width: 100%;
  min-height: 365px;
  line-height: $header-line-height;
  &__items-wrapper {
    order: 1;
    @media (min-width: $screen_md) {
      //min-height: 150px;
    }
  }
  &__item {
    display: none;
    flex-direction: column;
    &--active {
      display: flex;
    }
    @media (min-width: $screen_lg) {
      width: 760px;
    }
  }
  &__author {
    margin: 0 0 14px;
    padding: 0;

    font-weight: bold;
    font-size: $middle-font-size;
    order: 1;
    @media (min-width: $screen_md) {
      font-size: 20px;
      margin-bottom: 3px;
    }
  }
  &__author-description {
    display: none;
    font-size: $base-font-size;
    order: 2;
    @media (min-width: $screen_md) {
      display: block;
    }
  }
  &__text {
    font-weight: normal;
    font-size: $base-font-size;
    //line-height: $header-line-height;
    order: 3;
    @media (min-width: $screen_md) {
      font-size: $middle-font-size;
      margin-bottom: 35px;
      order: 0;
    }
  }
  &__quote {
    @media (min-width: $screen_lg) {
      display: none;
    }
  }
}


.switch {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 40px auto;
  width: 62px;
  order: 2;
  align-self: flex-end;
  //margin: auto;
  //flex-grow: 9;
  &__item {
    list-style: none;
  }
  &__label {
    position: relative;
    cursor: pointer;
  }
  &__label:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid;
    background-color: #b5b9be;
    border-color:  #fff;
  }
  &__item--active &__label:before,
  &__radio:nth-child(1):checked ~ & &__item:nth-child(1) &__label:before,
  &__radio:nth-child(2):checked ~ & &__item:nth-child(2) &__label:before,
  &__radio:nth-child(3):checked ~ & &__item:nth-child(3) &__label:before {
    background-color: #fff;
    border-color:  $base-color;
  }
  &__radio:nth-child(1):checked ~ .slider-review__items-wrapper .slider-review__item:nth-child(1),
  &__radio:nth-child(2):checked ~ .slider-review__items-wrapper .slider-review__item:nth-child(2),
  &__radio:nth-child(3):checked ~ .slider-review__items-wrapper .slider-review__item:nth-child(3) {
    display: flex;
  }
}


.prices {
  overflow: hidden;
  @media (min-width: $screen_md) {
    @include wrapper;
  }
  &__table {
    width: 240%;
    margin: 0 auto;
    border-collapse: collapse;
    &--switch-1 { transform: translateX(4%    /*0*/     ); }
    &--switch-2 { transform: translateX(-29.2%/*-31.7%*/); }
    &--switch-3 { transform: translateX(-62.4%/*-66.6%*/); }
    @media (min-width: $screen_md) {
      width: 100%;
      &--switch-1,
      &--switch-2,
      &--switch-3 {
        transform: none;
      }
    }
  }
  &__1st-col,
  &__th:first-child,
  &__td:first-child {
    display: none;
    background-color: #fff;
    @media (min-width: $screen_md) {
      display: table-cell;
    }
  }
  &__th:first-child {
    border: none;
  }
  &__th {
    min-width: 0;//278px;
    width: 33.33333%;
    border: 2px solid $border-color;
    background-color: $base-color;
    @media (min-width: $screen_md) {
      min-width: 0;
      width: 25%;
    }
  }
  &__td {
    position: relative;
    padding: 14px 0 15px 22px;
    border: 2px solid $border-color;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    text-transform: uppercase;
    text-align: left;
    @media (min-width: $screen_md) {
      padding: 8px 0 8px 22px;
      text-transform: none;
      &:first-child {
        padding-left: 2.5%;
      }
      &:not(:first-child) {
        font-size: 0;
      }
    }
  }
  &__title {
    margin: 18px 0 0;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    color: #fff;
    @media (min-width: $screen_md) {
      margin-top: 12px;
      font-size: $middle-font-size - 2;
      text-transform: uppercase;
    }
  }
  &__value {
    margin: 0 0 20px;
    font-weight: 100;
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: #fff;
    @media (min-width: $screen_md) {
      margin-bottom: 13px;
      font-size: $middle-font-size;
      line-height: $header-line-height - 6;
    }
  }
  &--yes>&__sign {
    position: absolute;
    @include sign-v(#3dc644, 25px);
    top: 0;
    right: 0;
    transform: translate(-18px, 15px) rotate(-45deg);
    @media (min-width: $screen_md) {
      left: 55%;
    }
  }
  &--no>&__sign {
    float: right;
    @include sign-x(#f25b26, 35px);
    top: 0;
    right: 0;
    transform: translate(-13px, 18px);
    @media (min-width: $screen_md) {
      left: -35%;
    }
  }
  .switch {
    @media (min-width: $screen_md) {
      display: none;
    }
  }
}


.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  &__item {
    flex-basis: 285px;
    margin-bottom: 20px;
    flex-grow: 1;
    &--phone {
      order: 1;
    }
    &--email {
      order: 2;
    }
    &--address {
      order: 3;
    }
    @media (min-width: $screen_md) {
      margin-bottom: 42px;
    }
    @media (min-width: $screen_lg) {
      &--email {
        order: 4;
      }
    }
  }
  &__item:last-child &__text{
    //padding: 0 20%;
    width: 208px;
    margin: 0 auto;
  }
  &__head {
    margin: 0 0 -3px;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    color: $base-color;
  }
  &__text {
    display: block;
    //margin: 0 0 20px;
    margin: 0;
    font-weight: 100;
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: #d22856;
  }
}


.map {
  //height: 200px;
  height: 30vh;
  background: url(../img/map.jpg) bottom no-repeat;
  background-size: cover;
  @media (min-width: $screen_md) {
    height: 50vh;
    background: url(../img/map-big.jpg) 46% 57% no-repeat;
  }
}


.sign-x {@include sign-x(#f25b26, 35px);}
.sign-v {@include sign-v(#3dc644, 25px);}


/* --- form.html ---------------------------------------- */

.story {
  margin: 0 0 10px;
  //padding: 0 100px;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: $header-line-height;
  @media (min-width: $screen-md) {
    font-size: $middle-font-size;
  }
  &__fill-please {
    display: none;
    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }
}


.fieldset {
  margin: 0;
  padding: 37px 0;
  border: none;
  text-align: left;
  @media (min-width: $screen-md) {
    &--fio &__wrapper {
      padding-top: 0;
      border: none;
    }
    &--trip-date &__wrapper {
      display: flex;
    }
    &--trip-date &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &--trip-date &__input,
    &--trip-date .calc__wrapper {
      flex-basis: 47.5%;
    }
  }
  &__wrapper {
    position: relative;
    @include wrapper;
    @media (min-width: $screen-md) {
      margin: 0 40px;
      padding: 42px 58px 0;
      border: 2px solid $border-color;
    }
  }
  &__header {
    margin: 0 0 37px;
    padding: 0;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: 18px;
    color: $color-red;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: $screen-md) {
      position: absolute;
      padding: 0 20px;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      white-space: pre;
      background-color: #fff;
    }
  }
  &__label {
    margin: 20px 0 7px 23px;
    padding: 0;
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    color: $color-red;
  }
  &__input {
    margin: 0;
    input[type="text"] {
      padding: 14px 20px;
      width: 100%;
      &::-webkit-input-placeholder {color: $base-color;font-weight: normal;}
      &::-moz-placeholder {color: $base-color;font-weight: normal;}
      &:-moz-placeholder {color: $base-color;font-weight: normal;}
      &:disabled {background-color: $color-bg-grey}
    }
  }
  &__ul {
    padding-left: 0;
    list-style: none;
    li {
      margin: 45px 0;
      margin-left: $radio-indent;
      @media (min-width: $screen-md) {
        &:first-child {
          margin-top: 15px;
        }
      }
    }
    @media (min-width: $screen-md) {
      margin-top: 0px;//54px;
    }
  }
  &--fio {
    padding-top: 0;
  }
  &--fio &__wrapper {
    margin: 0;
    padding: 0;
    @include wrapper;
  }
  &__control {
    @include fieldset-control;
  }
  &--app,
  &--travelers,
  &--photo {
    background-color: $color-bg-grey;
    @media (min-width: $screen-md) {
      background-color: transparent;
    }
  }
  &--trip-date &__label {
    margin-top: 9px;
    margin-bottom: 31px;
    text-align: center;
  }
  &--travelers &__label {
    margin-top: 8px;
  }
  /*&--travelers .calc {
    margin-top: 20px;
    @media (min-width: $screen-md) {
      &__result,
      &__rem {
        border: 0;
      }
    }
  }*/
  &--app &__label,
  &--achievements &__label {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    color: $base-color;
    text-transform: none;
  }
  &--app &__label:before,
  &--achievements &__label:before {
    content: "";
    position: absolute;
    margin-left: -1 * $radio-indent;
    width: 35px;
    height: 35px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid $border-color;
  }
  &--achievements &__label:after {
    content: "";
    position: absolute;
    margin-left: -1 * $radio-indent;
    width: 35px;
    height: 35px;
    left: 8px;
    top: 8px;
  }
  &--app &__label:before {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $border-color;
  }
  &--achievements &__label:before {}
  &__radio,
  &__checkbox {
    display: none;
  }
  &__radio {
    &:checked ~ label:before {
      background-color: $color-red;
    }
  }
  &__checkbox {
    &:checked ~ label:after {
      @include sign-v($color-red, 20px);
    }
  }
  &--photo {
    padding-bottom: 5px;
  }
}


.calc {
  position: relative;
  display: flex;
  &--persons {
    @media (min-width: $screen-md) {
      width: 252px;
      padding-bottom: 40px;
      //border-bottom: 2px solid $border-color;
    }
  }
  &--persons &__result,
  &--persons &__rem {
    @media (min-width: $screen-md) {
      border: 0;
    }
  }
  &__btn {
    @include fieldset-control;
    position: relative;
    display: block;
    width: 63px;//57px;
    height: 59px;
    background-color: #fff;
    border: 2px solid $border-color;
    font-size: 0;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 26px;
      height: 3px;
      background-color: $base-color;
    }
    &--minus:after {
      display: none;
    }
    &--plus:after {
      /*transform: translateX(-50%) rotate(90deg);*/
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &__result-over {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    @media (min-width: $screen-md) {
      flex-grow: 1;
    }
  }
  &__result {
    text-align: center;
    width: 0;
    outline: none;
    border-radius: 0;
    @include fieldset-control;
    @media (min-width: $screen-md) {
      padding-right: 27%;
    }
  }
  &__rem {
    position: absolute;
    left: 55%;
    z-index: 1;
    text-align: left;
    @include fieldset-control;
    @media (min-width: $screen-md) {
      left: 50%;
    }
  }
  &__rem,
  &__result {
    flex-basis: 100%;
    border-left-width: 0;
    border-right-width: 0;
    line-height: 53px;
  }
}


.person {
  display: flex;
  margin-bottom: 30px;
  &:nth-of-type(2) {
    @media (min-width: $screen-md) {
      padding-top: 23px;
      border-top: 2px solid $border-color;
    }
  }
  &__number-cover {
    flex-basis: 63px;
    flex-shrink: 0;
  }
  &__number-label {
    margin: 8px 0 7px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    text-align: center;
    color: $color-red;
  }
  &__number {
    @include fieldset-control;
    margin: 0;
    padding: 14px 20px;
    border-right-width: 0;
    text-align: center;
    @media (min-width: $screen-md) {
      border-right-width: 2px;
    }
  }
  &__fio {
    flex-grow: 1;
    @media (min-width: $screen-md) {
      padding-left: 20px;
    }
  }
  &__delete-wrapper {
    display: none;
    flex-basis: 115px;
    flex-shrink: 0;
    margin: 0;
    padding: 46px 0 0;
    @media (min-width: $screen-md) {
      display: block;
    }
  }
  &__delete {
    height: 57px;
    width: 100%;
    border: none;
    background: transparent;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    color: $base-color;
    text-transform: uppercase;
    outline: none;
  }
}


.load-file-label {
  margin-bottom: 33px;
  width: 100%;
  height: 59px;
  font-weight: bold;
  font-size: $middle-font-size;
  line-height: 59px;//$header-line-height;
  color: $base-color;
  border: 2px solid $border-color;
  background-color: #fff;
}


.pics {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -15px;
  padding: 35px 0 0;
  &__item {
    position: relative;
  }
  &__delete {
    position: absolute;
    width: 33px;
    height: 33px;
    border: 2px solid #e5e5e5;
    background-color: #fff;
    border-radius: 50%;
    top: 8px;
    right: 10px;
    font-size: 0;
    z-index: 1;
    &:after ,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 2px;
      transform-origin: 50% 50%;
      background-color: #c9c9c9;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    display: block;
    width: 67px;
    height: 67px;
    margin: 25px 15px;
    font-size: 50px;
    @media (min-width: $screen-md) {
      width: 120px;
      height: 120px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: auto;
      height: 100%;
    }
    figcaption {
      position: absolute;
      bottom: -25px;
      margin: 6px 0 0;
      padding: 0;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
}


.submit {
  margin: 0 0 63px;
  padding: 0 20px;
  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  &__btn {
    display: block;
    margin-top: 48px;
    width: 100%;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: 59px;
    border: 2px solid $color-green;
    border-radius: 2px;
    background-color: $color-green;
    color: #fff;
    @media (min-width: $screen-md) {
      margin-top: 60px;
      width: auto;
      flex-grow: 1;
    }
  }
  &__required-note {
    display: block;
    margin: 0;
    padding: 45px 0 0;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
      flex-grow: 1;
      width: auto;
      text-align: right;
    }
  }
}


.asterisk {
  font-weight: normal;
  font-size: $base-font-size;
  line-height: $header-line-height;
  color: $color-red;
  text-transform: uppercase;
}


.success {
  width: 100%;
  display: flex;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
  &__inner {
    margin: auto;
    max-width: 500px;
    background-color: #fff;
  }
  &--hidden {
    display: none;
  }
  &__header {
    padding: 0 20px;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-font-size;
    color: #000;
  }
  &__text {
    padding: 0 20px 32px;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-font-size;
    color: $base-color;
  }
  &__btn-overlay {
    margin: 0;
    padding: 50px 20px;
    background-color: $color-bg-grey;
  }
  &__btn {
    width: 100%;
    background-color: $color-green;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: 63px;
  }
}


/* --- blog.html -----------------------------------------*/

.post-preview {
  margin: 0 0 20px;
  padding: 5px 0 21px;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: 27px;
  color: $base-color;
  border-bottom: 1px solid $border-color;
  @media (min-width: $screen-md) {
    margin-bottom: 64px;
    border-bottom: none;
  }
  & a {
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: 27px;
    color: $base-color;
  }
  &__header {
    position: relative;
    margin: 0 0 2px;
    padding: 0;
    font-size: $middle-font-size;
    font-weight: bold;
    @media (min-width: $screen-md) {
      margin-bottom: 8px;
      font-size: 27px;
    }
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 28px;
      height: 26px;
      background-size: 28px 26px;
      background: url(../img/blog-post-icon.svg) no-repeat center;
      left: -58px;
      top: 5px;
    }
  }
  &__subheader {
    margin: 0 0 12px;
    padding: 0;
    font-size: 12px;
    color: $color-red;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
      margin-bottom: 22px;
      font-size: $base-font-size;
    }
  }
  &__text {
    margin: 0;
    padding: 0;
    @media (min-width: $screen-md) {
      font-size: $middle-font-size;
    }
  }
  &:last-of-type {
    margin-bottom: 29px;
    border-bottom: none;
  }
}


.pager {
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 40px;
  @media (min-width: $screen-md) {
    &:before {
      position: absolute;
      content: "Стр.";
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: -60px;
      font-weight: bold;
      font-size: $middle-font-size;
      line-height: $header-line-height;
      text-transform: uppercase;
    }
  }
  & a {
    text-decoration: none;
  }
  &__item {
    margin: 0 10px 0 0;
    &:last-child {
      margin-right: 0;
    }
    width: 59px;
    border: 2px solid $border-color;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: 59px;
    color: $base-color;
    &--active {
      border-color: $color-red;
    }
  }
}


/* --- post.html -----------------------------------------*/

.post {
  font-weight: normal;
  line-height: 27px;
  color: $base-color;
  text-align: left;
  font-size: $base-font-size;
  line-height: 27px;
  @media (min-width: $screen-md) {
    font-size: $middle-font-size;
    line-height: $header-line-height;
  }
  &__preview-wrapper {
    position: relative;
    margin: 0 0 53px;
    padding: 0;
    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
    }
  }
  &__header {
    text-align: center;
    font-weight: bold;
    font-size: $header-font-size;
    line-height: 36px;
    @media (min-width: $screen-md) {
      margin-bottom: 22px;
      font-size: 50px;
      line-height: 60px;
    }
  }
  &__subheader{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-red;
    @media (min-width: $screen-md) {
      position: absolute;
      display: inline-block;
      z-index: 1;
      font-size: $base-font-size;
      line-height: $header-line-height;
      order: 2;
      background: #fff;
      padding: 0 20px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -18px;
    }
  }
  &__preview {
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid $border-color;
    @media (min-width: $screen-md) {
      margin: 0;
      padding-bottom: 44px;
      font-size: $header-font-size;
      line-height: 40px;
      border-bottom: 2px dotted $border-color;
      order: 1;
    }
  }
  &__subtitle {
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    @media (min-width: $screen-md) {
      margin-top: 58px;
      padding-bottom: 3px;
      font-size: $header-font-size;
      line-height: $header-line-height;
      text-transform: uppercase;
    }
  }
  /*&__text,
  &__link,
  &__list-item {
    font-size: $base-font-size;
    line-height: 27px;
    @media (min-width: $screen-md) {
      font-size: $middle-font-size;
      line-height: $header-line-height;
    }
  }*/
  &__link {
    color: $color-red;
  }
  &__list {
    margin: 32px 0 61px;
    padding: 0 0 0 23px;
    list-style: none;
    &-item {
      position: relative;
      margin: 20px 0;
      &:before {
        content: "";
        position: absolute;
        left: -22px;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background-color: $color-red;
        border-radius: 50%;
      }
    }
  }
  &__cite {
    padding: 0 0 0 20px;
    border-left: 2px solid $color-red;
    &--author {
      margin: 0;
      display: block;
      padding: 0;
      font-style: italic;
    }
  }
}


.wrapper {
  @include wrapper;
  &--form {
    @media (min-width: $screen_md) {
      margin: 0 40px;
      padding: 0 60px;
    }
  }
  &--post {
    @media (min-width: $screen_md) {
      padding: 0 100px;
    }
  }
}


.post-wrapper {
  @include wrapper;
  overflow: hidden;
}
