/* миксины */

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}


@mixin outline {
  outline: 1px dashed lime;
}


@mixin fieldset-control {
  min-height: 59px;
  outline: none;
  background-color: #fff;
  border: 2px solid $border-color;
  border-radius: 2px;
  font-weight: normal;
  font-size: $middle-font-size;
  line-height: 27px;
  color: $base-color;
}


@mixin wrapper {
  padding: 0 20px;
  @media (min-width: $screen_md) {
    padding: 0 40px;
  }
}


@mixin sign-x($color: #000, $size: 30px, $line-width: 2px, $bg-color: transparent) {
  position: relative;
  width: $size;
  height: $size;
  background-color: $bg-color;
  &:after ,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: $line-width;
    transform-origin: center;
    background-color: $color;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}


@mixin sign-v($color: #000, $size: 30px, $line-width: 2px, $bg-color: transparent) {
  width: $size;
  height: $size/100*45;
  border-left: $line-width solid $color;
  border-bottom: $line-width solid $color;
  transform-origin: center;
  transform: rotate(-45deg);
  background-color: $bg-color;
}


/*
@mixin sign-y($size: 20px, $color: #000, $bg-color: transparent) {
  position: relative;
  width: $size;
  height: $size;
  background-color: $bg-color;
  &:after ,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    //border-radius: 1px;
    transform-origin: center;
    background-color: $color;
  }
  &:before {
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
    transform: rotate(-45deg);
  }
  &:after {
    transform-origin: 0 0;
    //transform: translate(4px, 15px) rotate(45deg);
    transform: translate((6.5*$size)/ 35, (15.5*$size)/35) rotate(45deg);
    width: 35%;
    //background-color: yellowgreen;
  }
}
*/
