/* миксины */

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


@mixin fieldset-control {
  min-height: 59px;
  outline: none;
  background-color: #fff;
  border: 2px solid $color-border;
  border-radius: 2px;
  font-weight: normal;
  font-size: $middle-font-size;
  line-height: 27px;
  color: $base-color;
}


@mixin wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: $screen-lg) {
    padding-left: 0;
    padding-right: 0;
    width: 940px;
  }
}

@mixin transition {
  transition: .2s;
}

@mixin sign-x($color: #000, $size: 30px, $line-width: 2px, $bg-color: transparent) {
  @include transition;
  position: relative;
  width: $size;
  height: $size;
  background-color: $bg-color;
  &:after ,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: $line-width;
    transform-origin: center;
    background-color: $color;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}


@mixin sign-v($color: #000, $size: 30px, $line-width: 2px, $bg-color: transparent) {
  @include transition;
  width: $size;
  height: $size/100*45;
  border-left: $line-width solid $color;
  border-bottom: $line-width solid $color;
  transform-origin: center;
  transform: rotate(-45deg);
  background-color: $bg-color;
}


/*
@mixin sign-y($size: 20px, $color: #000, $bg-color: transparent) {
  position: relative;
  width: $size;
  height: $size;
  background-color: $bg-color;
  &:after ,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    //border-radius: 1px;
    transform-origin: center;
    background-color: $color;
  }
  &:before {
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
    transform: rotate(-45deg);
  }
  &:after {
    transform-origin: 0 0;
    //transform: translate(4px, 15px) rotate(45deg);
    transform: translate((6.5*$size)/ 35, (15.5*$size)/35) rotate(45deg);
    width: 35%;
    //background-color: yellowgreen;
  }
}
*/
