/* миксины */

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin icon {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
}

@mixin reset-indents {
  margin: 0px;
  padding: 0px;
}

@mixin menu-list-item {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
}

@mixin no-bullet-list {
  padding-left: 0px;
  list-style: none;
}

@mixin outline {
  outline: 1px dashed lime;
}

@mixin sign-x($color: #000, $size: 30px, $line-width: 2px, $bg-color: transparent) {
  position: relative;
  width: $size;
  height: $size;
  background-color: $bg-color;
  &:after ,
  &:before {
    @include icon;
    width: 100%;
    height: $line-width;
    //border-radius: 1px;
    transform-origin: 50% 50%;
    background-color: $color;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

@mixin sign-v($color: #000, $size: 30px, $line-width: 2px, $bg-color: transparent) {
  width: $size;
  height: $size/100*35;
  border-left: $line-width solid $color;
  border-bottom: $line-width solid $color;
  transform-origin: (center);
  transform: rotate(-45deg);
  background-color: $bg-color;
}

/*
@mixin sign-y($size: 20px, $color: #000, $bg-color: transparent) {
  position: relative;
  width: $size;
  height: $size;
  background-color: $bg-color;
  &:after ,
  &:before {
    @include icon;
    width: 100%;
    height: 3px;
    //border-radius: 1px;
    transform-origin: 50% 50%;
    background-color: $color;
  }
  &:before {
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
    transform: rotate(-45deg);
  }
  &:after {
    transform-origin: 0px 0;
    //transform: translate(4px, 15px) rotate(45deg);
    transform: translate((6.5*$size)/ 35, (15.5*$size)/35) rotate(45deg);
    width: 35%;
    //background-color: yellowgreen;
  }
}
*/
