$screen_sm: 320px;
$screen_md: 660px;
$screen_lg: 960px;

$base-color: #283645;
$base-font-size: 14px;
$base-line-height: 24px;

$middle-font-size: 18px;

$header-font-size: 24px;
$header-line-height: 30px;

$header-bg-color: #1d2631;

$header-wrap-hight: 458px;
$header-wrap-hight-small: 237px;

$nav-height: 66px;
$nav-item-height: 62px;

$menu-btn-width: 50px;
$menu-btn-sheet-height: 4px;
$menu-btn-sheet-margin: 6px;

$dirfont: "../fonts";

$border-color: silver;//#e5e5e5;
$color-bg-grey: lightcyan;//#f2f2f2;
$color-red: #d22856;
$color-green: #2aab6d;
$color-light-blue-border: lightblue; //#e9ebec;

$radio-indent: 60px;

$palm-height-tablet: 730px;
