.logo-svg {
  fill: lime;
  &__part {
    fill: green;
  }
}


.big_text {
  font-weight: 100;
  font-size: $header-font-size;
  line-height: $header-line-height;
  @media (min-width: $screen-md) {
    margin-top: 50px;
    font-size: 40px;
    line-height: 47px;
  }
  @media (min-width: $screen-lg) {
    font-size: 50px;
    line-height: 60px;
  }
  &--offer {
    margin-top: -6px;
    margin-bottom: 30px;
    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    @media (min-width: $screen-lg) {
      //padding-bottom: 45px;
      //&:first-child {
        margin-bottom: 0;
      //}
    }
    @include wrapper;
  }
  &--ask {
    margin: 55px 0 31px;
    @media (min-width: $screen-md) {
      margin: 37px 0 41px;
    }
    @media (min-width: $screen-lg) {
      margin: 62px 0 55px;
    }
  }
}


.benefits {
  @include wrapper;
  @media (min-width: $screen-md) {
    display: flex;
    margin-bottom: 57px;
    text-align: left;
  }
  @media (min-width: $screen-lg) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__items {
    line-height: $base-line-height;
    @media (min-width: $screen-md) {
      margin-top: 71px;
      width: calc(97% - 290px);
      order: 2;
    }
    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      margin: 55px 0 0;//65px;
      width: 100%;
    }
  }
  &__item {
    margin-bottom: 40px;
    @media (min-width: $screen-md) {
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media (min-width: $screen-lg) {
      margin-bottom: 0;
      padding: 0 25px;
      flex-basis: 292px;
      //width: 292px;
      text-align: center;
    }
  }
  &__head {
    margin: 0 0 24px;
    color: #000;
    font-weight: bold;
    font-size: $middle-font-size;
    @media (min-width: $screen-md) {
      margin-bottom: 11px;
    }
    @media (min-width: $screen-lg) {
      margin-bottom: 25px;
      font-size: $header-line-height;
      line-height: $header-line-height;
    }
  }
  &__text {
    margin: 0;
    font-weight: normal;
    font-size: $base-font-size;
    @media (min-width: $screen-lg) {
      font-size: $middle-font-size;
      line-height: $header-line-height;
    }
  }
  &__pictures {
    position: relative;
    z-index: 1;
    @media (min-width: $screen-md) {
      padding-right: 40px;
      order: 1;
    }
    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;
    }
    &-item {
      margin: 0 0 39px;
      padding: 0;
      &--1 {
        display: none;
        @media (min-width: $screen-lg) {
          display: block;
          background: url(../img/iphone-screen-desktop-1@1x.png) no-repeat;
          @media (min-resolution: 1.5dppx) {
            background-image: url(../img/iphone-screen-desktop-1@2x.png);
          }
        }
      }
      &--2 {
        display: none;
        @media (min-width: $screen-lg) {
          display: block;
          background: url(../img/iphone-screen-desktop-2@1x.png) no-repeat;
          @media (min-resolution: 1.5dppx) {
            background-image: url(../img/iphone-screen-desktop-2@2x.png);
          }
        }
      }
      &--3 {
        height: 278px;
        width: auto;
        background:
          url(../img/iphone-screen-mobile-3@1x.png) no-repeat center 34px,
          url(../img/iphone-case-mobile@1x.png) no-repeat top;
        background-size:
          141px, 157px;
        @media (min-resolution: 1.5dppx) {
          /*background:
            url(../img/iphone-screen-mobile-3@2x.png) no-repeat center 34px,
            url(../img/iphone-case-mobile@2x.png) no-repeat top;
          background-size: 141px, 157px;*/
          background-image:
            url(../img/iphone-screen-mobile-3@2x.png),
            url(../img/iphone-case-mobile@2x.png);
        }
        @media (min-resolution: 2.5dppx) {
          /*background:
            url(../img/iphone-screen-mobile-3@3x.png) no-repeat center 34px,
            url(../img/iphone-case-mobile@3x.png) no-repeat top;
          background-size: 141px, 157px;*/
          background-image:
            url(../img/iphone-screen-mobile-3@3x.png),
            url(../img/iphone-case-mobile@3x.png);
        }
        @media (min-width: $screen-md) {
          background: url(../img/iphone-screen-tablet-3@1x.png) no-repeat;
          @media (min-resolution: 1.5dppx) {
            background-image: url(../img/iphone-screen-tablet-3@2x.png);
          }
        }
        @media (min-width: $screen-lg) {
          background-image: url(../img/iphone-screen-desktop-3@1x.png);
          @media (min-resolution: 1.5dppx) {
            background-image: url(../img/iphone-screen-desktop-3@2x.png);
          }
        }
      }
      @media (min-width: $screen-md) {
        margin: 0;
        height: 481px;
        width: 268px;
        background-size: 268px 481px;
      }
      @media (min-width: $screen-lg) {
        flex-shrink: 1;
        margin: 0;
        height: 302px;
        flex-basis: 292px;
        //width: 292px;
        background-size: 292px 302px;
      }
    }
  }
}


.effect24 {
  @include wrapper;
  display: none;
  padding-bottom: 58px;
  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
  }
  @media (min-width: $screen-lg) {
    padding-bottom: 34px; //67px;
  }
  &__icon-wrapper {
    position: relative;
    width: 262px;
    min-height: 302px;
    background: url(../img/timer.svg) no-repeat;
    background-size: contain;
    @media (min-width: $screen-lg) {
      width: 299px;
      min-height: 346px;
    }
  }
  &__icon {
    position: absolute;
    top: 65px;
    left: -1px;
    margin-left: 25px;
    width: 214px;
    height: 214px;
    font-weight: bold;
    font-size: 104.6px;
    line-height: 188px;
    color: $color-red;
    border: 11px solid $color-red;
    border-radius: 50%;
    //flex-basis: 214;
    align-self: center;
    @media (min-width: $screen-lg) {
      top: 72px;
      left: 0;
      width: 248px;
      height: 248px;
      font-size: 120px;
      line-height: 222px;
      border: 13px solid $color-red;
    }
  }
  &__info {
    padding-left: 46px;
    text-align: left;
    width: 100px;
    flex-grow: 1;
    align-self: center;
  }
  &__header {
    padding-right: 50%;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: $header-font-size;
    line-height: 36px;
    @media (min-width: $screen-md) {
      font-size: $header-line-height;
      line-height: $header-line-height;
    }
    @media (min-width: $screen-lg) {
      padding-right: 0;
      font-size: $header-line-height;
      line-height: $header-line-height;
    }
  }
  &__text,
  &__more {
    font-size: $base-font-size;
    line-height: $header-font-size;
    @media (min-width: $screen-lg) {
      font-weight: normal;
      font-size: $middle-font-size;
      line-height: $header-line-height;
    }
  }
  &__text {
    @media (min-width: $screen-lg) {
      margin-bottom: 30px;
    }
  }
  &__more {
    color: $color-red;
    text-decoration: underline;
  }
}


.slider-review {
  position: relative;
  @include wrapper;
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: $header-line-height;
  @media (min-width: $screen-lg) {
    padding-top: 167px;
    margin-bottom: 37px;
    &:before {
      content: "";
      position: absolute;
      width: 79px;
      height: 64px;
      top: 72px;
      left: 50%;
      transform: translateX(-50%);
      background: url(../img/quotes.svg) no-repeat center;
      background-size: cover;
    }
  }
  &__items-wrapper {
    position: relative;
    order: 1;
    min-height: 206px;
  }
  &__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    @include transition;
    &--active {
      display: flex;
    }
    @media (min-width: $screen-lg) {
      width: 760px;
    }
  }
  &__author {
    margin: 0 0 14px;
    padding: 0;
    font-weight: bold;
    font-size: $middle-font-size;
    order: 1;
    @media (min-width: $screen-md) {
      font-size: 20px;
      margin-bottom: 3px;
    }
    @media (min-width: $screen-lg) {
      font-size: 24px;
    }
  }
  &__author-description {
    display: none;
    font-size: $base-font-size;
    order: 2;
    @media (min-width: $screen-md) {
      display: block;
      font-weight: normal;
      font-size: $middle-font-size;
    }
  }
  &__text {
    margin-bottom: -1 * (($header-line-height - $base-font-size)/2);
    font-weight: normal;
    font-size: $base-font-size;
    order: 3;
    @media (min-width: $screen-md) {
      font-size: $middle-font-size;
      margin-bottom: 35px;
      order: 0;
    }
    @media (max-width: $screen-lg - 1px) {
      &:before {
        content: "«";
      }
      &:after {
        content: "»";
      }
    }
  }
  &__arrow {
    display: none;
    position: absolute;
    top: 210px;
    width: 22px;
    height: 42px;
    background-size: 22px 42px;
    cursor: pointer;
    font-size: 0;
    border: none;
    outline: none;
    z-index: 1;
    &--left {
      background: url(../img/review-arrow-left.svg) no-repeat center;
      &:hover {
        background-image: url(../img/review-arrow-left--hover.svg);
      }
    }
    &--right {
      right: 0;
      background: url(../img/review-arrow-right.svg) no-repeat center;
      &:hover {
        background-image: url(../img/review-arrow-right--hover.svg);
      }
    }
    &--left:active,
    &--right:active {
      opacity: .5;
    }
    @media (min-width: $screen-lg) {
      display: block;
    }
  }
}


.switch {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin: 0 auto;
  padding: 0;
  width: 62px;
  order: 2;
  &__item {
    list-style: none;
  }
  &__label {
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 3px solid;
      background-color: #bec2c7;
      border-color: #fff;
    }
    &:hover:before {
      background-color: #7e868f;
    }
    &:active:before {
      background-color: $color-light-blue-border;
    }
  }
  &__item--active &__label:before,
  &__radio:nth-child(1):checked ~ & &__item:nth-child(1) &__label:before,
  &__radio:nth-child(2):checked ~ & &__item:nth-child(2) &__label:before,
  &__radio:nth-child(3):checked ~ & &__item:nth-child(3) &__label:before
  {
    background-color: #fff;
    border-color:  $base-color;
  }
  &__radio:nth-child(1):checked ~ .slider-review__items-wrapper .slider-review__item:nth-child(1),
  &__radio:nth-child(2):checked ~ .slider-review__items-wrapper .slider-review__item:nth-child(2),
  &__radio:nth-child(3):checked ~ .slider-review__items-wrapper .slider-review__item:nth-child(3)
  {
    display: flex;
    opacity: 1;
  }
  &--review {
    margin: 33px auto;
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
  &--prices {
    margin: 50px auto;
    @media (min-width: $screen-md) {
      display: none;
    }
  }
  &--prices &__item {
    position: relative;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 3px solid;
      background-color: #bec2c7;
      border-color: #fff;
    }
    &:hover:before {
      background-color: #7e868f;
    }
    &:active:before {
      background-color: $color-light-blue-border;
    }
    &--active:before {
      background-color: #fff;
      border-color: #283645;
    }
  }
}


.wide-container {
  position: relative;
  background-color: $color-bg-grey;
  @media (min-width: $screen-md) {
    padding: 90px 0 68px;
  }
  @media (min-width: $screen-lg) {
    padding: 154px 0 94px;
  }
  &--effect24 {
    padding: 0;
    @media (max-width: $screen-lg - 1px) {
      padding-top: 0;
      background-color: #fff;
    }
    @media (min-width: $screen-lg) {
      padding: 0;
    }
    &:after {
      content: none;
      display: none;
    }
  }
  &--benefits {
    padding-top: 82px;
    @media (min-width: $screen-md) {
      padding: 0;
      margin-top: 50px;
    }
    @media (min-width: $screen-lg) {
      margin-top: 76px; //0;
      padding-top: 0; //82px;
    }
  }
  &--prices {
    padding: 90px 0 0;
    @media (min-width: $screen-md) {
      padding-bottom: 68px;
    }
    @media (min-width: $screen-lg) {
      padding-top: 150px;
      padding-bottom: 95px;
    }
  }
  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    //height: 120px;
    height: 50px;
    background: url(../img/triangle-white.svg) no-repeat;
    background-size: contain;
    @media (min-width: $screen-md) {
      height: 70px;
    }
    @media (min-width: $screen-lg) {
      height: 100px;
    }
  }
}


.prices {
  overflow: hidden;
  @media (min-width: $screen-md) {
    @include wrapper;
  }
  &__table {
    width: 240%;
    margin: 0 auto;
    border-collapse: collapse;
    @include transition;
    &--switch-1 { transform: translateX(4%    /*0*/     ); }
    &--switch-2 { transform: translateX(-29.2%/*-31.7%*/); }
    &--switch-3 { transform: translateX(-62.4%/*-66.6%*/); }
    @media (min-width: $screen-md) {
      width: 100%;
      &--switch-1,
      &--switch-2,
      &--switch-3 {
        transform: none;
      }
    }
  }
  &__1st-col,
  &__th:first-child,
  &__td:first-child {
    display: none;
    @media (min-width: $screen-md) {
      display: table-cell;
    }
  }
  &__th:first-child {
    border: none;
    background-color: $color-bg-grey;
  }
  &__th {
    min-width: 0;
    width: 33.33333%;
    border: 2px solid $color-border;
    background-color: $base-color;
    @media (min-width: $screen-md) {
      min-width: 0;
      width: 25%;
    }
  }
  &__td {
    position: relative;
    padding: 17px 0 18px 22px;
    border: 2px solid $color-border;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @media (min-width: $screen-md) {
      padding: 11px 0 12px 22px;
      text-transform: none;
    }
    @media (min-width: $screen-lg) {
      padding: 17px 0 18px 22px;
    }
    text-transform: uppercase;
    text-align: left;
    background-color: #fff;
    &:first-child {
      @media (min-width: $screen-md) {
        padding-left: 2.5%;
      }
    }
    &:not(:first-child) {
      @media (min-width: $screen-md) {
        font-size: 0;
      }
    }
  }
  &__title {
    margin: 18px 0 0;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    color: #fff;
    @media (min-width: $screen-md) {
      margin-top: 12px;
      font-size: $middle-font-size - 2;
      text-transform: uppercase;
    }
  }
  &__value {
    margin: 0 0 20px;
    font-weight: 100;
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: #fff;
    @media (min-width: $screen-md) {
      margin-bottom: 13px;
      font-size: $middle-font-size;
      line-height: $header-line-height - 6;
    }
  }
  &__hit {
    background: #283645 url(../img/hit.png) no-repeat top left;
    background-size: 74px 73px;
  }
  &__sign-yes,
  &__sign-no {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 30px;
    height: 30px;
    @media (min-width: $screen-md) {
      left: calc(50%);
      transform: translate(-50%, -50%);
    }
  }
  &__sign-yes {
    fill: $color-green;
  }
  &__sign-no {
    fill: $color-red;
  }
}


.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  @include wrapper;
  &__item {
    flex-basis: 285px;
    //width: 285px;
    margin-bottom: 20px;
    flex-grow: 1;
    &--phone {
      order: 1;
    }
    &--email {
      order: 2;
      @media (min-width: $screen-lg) {
        order: 4;
      }
    }
    &--address {
      order: 3;
    }
    @media (min-width: $screen-md) {
      margin-bottom: 42px;
    }
  }
  &__item:last-child &__text{
    width: 208px;
    margin: 0 auto;
  }
  &__head {
    margin: 0 0 -3px;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    color: $base-color;
  }
  &__text {
    display: block;
    margin: 0;
    font-weight: 100;
    font-size: $header-font-size;
    line-height: $header-line-height;
    color: #d22856;
  }
  &__item--email &__text {
    text-decoration: none;
    &:hover {
      color: $base-color;
      text-decoration: underline;
    }
    &:focus,
    &:active {
      color: rgba($base-color, .33333);
      text-decoration: none;
    }
  }
}


.map {
  position: relative;
  height: 200px;
  background: url(../img/map-big.jpg) 46.2% 52% no-repeat;
  font-size: 0;
  @media (min-width: $screen-md) {
    height: 377px;
    background: url(../img/map-big.jpg) 45% 52% no-repeat;
  }
  @media (min-width: $screen-lg) {
    height: 524px;
    background-position: 44% 52%;
  }
  &:before {
    content: "";
    position: absolute;
    top: -0px;
    left: 0;
    width: 100%;
    height: 33%;
    /*background: url(../img/triangle-white-footer.svg) no-repeat center top;*/
    background: transparent url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='100%' viewBox='0 0 595.28 61.905' enable-background='new 0 0 595.28 61.905' xml:space='preserve' preserveAspectRatio='none'><polygon fill='white' points='297.64,61.905 0,0 595.28,0 '/></svg>") no-repeat scroll center top / 100% auto;
    background-size: 100% auto;
  }
  &:after {
    content: "";
    position: absolute;
    top: 61%;
    left: 48%;
    //transform: translateX(-50%);
    width: 36px;
    height: 36px;
    background: url(../img/map-marker.svg) no-repeat;
    @media (min-width: $screen-md) {
      top: 56.8%;
    }
    @media (min-width: $screen-md) {
      top: 56%;
    }
  }
}


.wrapper {
  @include wrapper;
  &--form {
    @media (min-width: $screen-md) {
      margin: 0 40px;
      padding: 0 60px;
    }
    @media (min-width: $screen-lg) {
      padding: 0 80px;
      margin: 0 auto;
    }
  }
  &--post {
    @media (min-width: $screen-md) {
      padding: 0 100px;
    }
    @media (min-width: $screen-lg) {
      padding: 0 60px;
    }
  }
}


/* --- form.html ---------------------------------------- */

.story {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: $header-line-height;
  @media (min-width: $screen-md) {
    font-size: $middle-font-size;
  }
  @media (min-width: $screen-lg) {
    margin: 0 0 45px;
  }
  &__fill-please {
    display: none;
    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }
}


.fieldset {
  margin: 0;
  padding: 37px 0;
  border: none;
  text-align: left;
  &--trip-date &__wrapper {
    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &--trip-date &__input,
  &--trip-date .calc__wrapper {
    @media (min-width: $screen-md) {
      flex-basis: 47.5%;
      //width: 47.5%;
    }
    @media (min-width: $screen-lg) {
      flex-basis: 240px;
      //width: 240px;
    }
  }
  @media (min-width: $screen-lg) {
    padding: 63px 0 0;
  }
  &__wrapper {
    position: relative;
    @include wrapper;
    @media (min-width: $screen-md) {
      margin: 0 40px;
      padding: 42px 58px 0;
      border: 2px solid $color-border;
    }
    @media (min-width: $screen-lg) {
      margin: 0 auto;
      padding: 42px 58px 0;
    }
  }
  &__header {
    margin: 0 0 37px;
    padding: 0;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: 18px;
    color: $color-red;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: $screen-md) {
      position: absolute;
      padding: 0 20px;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      white-space: pre;
      background-color: #fff;
    }
  }
  &__label {
    margin: 20px 0 7px 23px;
    padding: 0;
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    color: $color-red;
  }
  &__input {
    margin: 0;
    input[type="text"] {
      padding: 14px 20px;
      width: 100%;
      &::-webkit-input-placeholder {display: none; color: $base-color;font-weight: normal;}
      &::-moz-placeholder {display: none; color: $base-color;font-weight: normal;}
      &:-moz-placeholder {display: none; color: $base-color;font-weight: normal;}
      &:disabled {background-color: $color-bg-grey}
      &:focus::-webkit-input-placeholder {color: transparent}
      &:focus::-moz-placeholder          {color: transparent}
      &:focus:-moz-placeholder           {color: transparent}
      &:focus:-ms-input-placeholder      {color: transparent}
      @media (min-width: $screen-lg) {
        flex-basis: 284px;
        //width: 284px;
      }
    }
  }
  &__ul {
    padding-left: 0;
    list-style: none;
    li {
      margin: 45px 0;
      margin-left: $radio-indent;
      @media (min-width: $screen-md) {
        &:first-child {
          margin-top: 15px;
        }
      }
      @media (min-width: $screen-lg) {
        margin: 0;
      }
    }
    @media (min-width: $screen-md) {
      margin-top: 0px;
    }
  }
  &--fio {
    padding-top: 0;
  }
  &--fio &__wrapper {
    margin: 0;
    padding: 0;
    @include wrapper;
    @media (min-width: $screen-md) {
      padding-top: 0;
      border: none;
    }
    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__control {
    @include fieldset-control;
  }
  &--app,
  &--travelers,
  &--photo {
    padding-bottom: 5px;
    background-color: $color-bg-grey;
    @media (min-width: $screen-md) {
      background-color: transparent;
    }
  }
  &--photo &__wrapper {
    @media (min-width: $screen-lg) {
      display: block;
    }
  }
  &--trip-date &__label {
    margin-top: 9px;
    margin-bottom: 14px;
    text-align: center;
  }
  &--travelers &__label {
    margin-top: 8px;
  }
  &--travelers &__wrapper {
    @media (min-width: $screen-lg) {
      padding-bottom: 46px;
    }
  }
  &--app &__label,
  &--achievements &__label {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    color: $base-color;
    text-transform: none;
    cursor: pointer;
  }
  &--app &__label,
  &--achievements &__label {
    padding-left: 57px;
  }
  &--app &__label:before,
  &--achievements &__label:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid $color-border;
  }
  &--achievements &__label:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: 8px;
    top: 8px;
  }
  &--achievements &__wrapper {
    @media (min-width: $screen-lg) {
      padding: 55px 0 0 115px;
    }
  }
  &--achievements &__ul {
    @media (min-width: $screen-lg) {
      margin-bottom: 9px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-around;
      height: 100%;
    }
    li {
      @media (min-width: $screen-lg) {
        margin: 0 0 48px;
        flex-basis: 26%;
        //width: 26%;
      }
    }
  }
  &--app &__label:before {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $color-border;
  }
  &--app &__ul {
    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &--app &__wrapper {
    padding: 42px 41px;
  }
  &__radio,
  &__checkbox {
    display: none;
  }
  &__radio {
    &:checked ~ label:before {
      background-color: $color-red;
    }
  }
  &__checkbox {
    &:checked ~ label {
      &:after {
        @include sign-v($color-red, 20px);
        transition: 0s;
        top: 50%;
        transform: translateY(-85%) rotate(-45deg);
      }
    }
  }
  &__ul &__radio+&__label {
    &:hover:before {
      @include transition;
      box-shadow: 0 0 0 2px $base-color;
    }
    &:active:before {
      @include transition;
      box-shadow: 0 0 0 2px $color-red;
      background-color: $color-red;
    }
  }
  &__ul &__radio:checked+&__label {
    &:active:before {
      transition: 0s;
      background-color: #fff;
    }
  }
  &__ul &__checkbox+&__label {
    &:hover:before {
      @include transition;
      border-color: $base-color;
    }
    &:active:before {
      transition: 0s;
      border-color: $color-red;
    }
    &:active:after {
      @include sign-v($color-red, 20px);
      transition: 0s;
      top: 50%;
      transform: translateY(-85%) rotate(-45deg);
    }
  }
  &__ul &__checkbox:checked+&__label {
    &:active:after {
      display: none;
    }
  }
}


.calc {
  position: relative;
  display: flex;
  &--persons {
    @media (min-width: $screen-md) {
      width: 252px;
    }
  }
  &--persons &__result,
  &--persons &__rem {
    @media (min-width: $screen-md) {
      border: 0;
    }
  }
  &__result-over {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    @media (min-width: $screen-md) {
      flex-grow: 1;
    }
  }
  &__result-over:after {
    content: attr(data-label);
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
    left: 60%;
    height: $middle-font-size + 2;
    width: 50px;
    background-color: #fff;
    border: none;
    text-align: left;
    font-weight: normal;
    font-size: $middle-font-size;
    line-height: $middle-font-size;
    color: $base-color;
    z-index: 1;
    @media (min-width: $screen-md) {
      left: 50%;
    }
  }
  &__result-over:hover &__result{
    @include transition;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: $base-color;
  }
  &__result {
    text-align: center;
    width: 0;
    outline: none;
    border-radius: 0;
    @include fieldset-control;
    @media (min-width: $screen-md) {
      padding-right: 27%;
    }
  }
  &--days:hover {
    .calc__btn--minus:hover {
      border-right-color: $base-color;
    }
    .calc__btn--plus:hover {
      border-left-color: $base-color;
    }
  }
  &__result:hover {
    border-left-width: 2px;
    border-right-width: 2px;
    border-left-color: $base-color;
    border-right-color: $base-color;
  }
  &__result:focus,
  &__result:active {
    border-left-width: 2px;
    border-right-width: 2px;
}
  &__btn {
    @include fieldset-control;
    position: relative;
    display: block;
    width: 63px;
    height: 59px;
    background-color: #fff;
    border: 2px solid $color-border;
    font-size: 0;
    @include transition;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 26px;
      height: 3px;
      background-color: $base-color;
    }
    &:active:before,
    &:active:after {
      background-color: #fff;
    }
    &--minus {
      &:after {
        display: none;
      }
    }
    &--plus {
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    &:hover {
      border-color: $base-color;
      border-right-color: $base-color;
    }
    &:active {
      border-color: $base-color;
      background-color: $base-color;
    }
  }
  &--days &__result:hover {}
  &__rem {
    position: absolute;
    left: 55%;
    z-index: 1;
    text-align: left;
    @include fieldset-control;
    min-height: 0;
    border: none;
    top: 2px;
    background-color: transparent;
    @media (min-width: $screen-md) {
      left: 50%;
    }
  }
  &__rem,
  &__result {
    //flex-basis: 100%;
    //width: 100%;
    flex-grow: 1;
    border-left-width: 0;
    border-right-width: 0;
    line-height: 53px;
  }
}


.persons {
  @media (max-width: $screen-lg - 1px) {
    margin-bottom: 30px;
  }
}


.person {
  display: flex;
  margin-bottom: 30px;
  @media (min-width: $screen-lg) {
    margin-bottom: 13px;
  }
  &:first-child {
    margin-top: 40px;
    @media (min-width: $screen-md) {
      padding-top: 23px;
      border-top: 2px solid $color-border;
    }
  }
  &__number-cover {
    flex-basis: 63px;
    //width: 63px;
    flex-shrink: 0;
  }
  &__number-label {
    margin: 8px 0 7px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    text-align: center;
    color: $color-red;
  }
  &__number {
    @include fieldset-control;
    margin: 0;
    padding: 14px 20px;
    border-right-width: 0;
    text-align: center;
    background-color: $color-bg-grey;
    @media (min-width: $screen-md) {
      border-right-width: 2px;
    }
  }
  &__fio {
    flex-grow: 1;
    @media (min-width: $screen-md) {
      padding-left: 20px;
    }
    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }
    .fieldset__input {
      @media (min-width: $screen-lg) {
        flex-basis: 301px; //48.4%;
        //width: 301px; //48.4%;
      }
    }
  }
  &__delete-wrapper {
    display: none;
    flex-basis: 115px;
    //width: 115px;
    flex-shrink: 0;
    margin: 0;
    padding: 46px 0 0;
    @media (min-width: $screen-md) {
      display: block;
    }
  }
  &__delete {
    height: 57px;
    width: 100%;
    border: none;
    background: transparent;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    color: $base-color;
    text-transform: uppercase;
    outline: none;
    &:hover {
      color: $color-red;
      text-decoration: underline;
    }
    &:active {
      color: rgba($color-red, .3);
      text-decoration: none;
    }
  }
}


.load-file-label {
  position: relative;
  display: block;
  padding: 15px;
  margin-bottom: 33px;
  width: 100%;
  min-height: 59px;
  font-weight: bold;
  font-size: $middle-font-size;
  //line-height: 59px;
  color: $base-color;
  border: 2px solid $color-border;
  background-color: #fff;
  @media (min-width: $screen-md) {
    margin-bottom: 41px;
  }
  &:after {
    @media (min-width: $screen-md) {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-border;
      left: 0;
      bottom: -45px;
    }
  }
  &:hover {
    @include transition;
    border-color: $base-color;
  }
  &:active {
    @include transition;
    border-color: $base-color;
    background-color: $base-color;
    color: #fff;
  }
}


.pics {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -15px;
  padding: 35px 0 0;
  @media (min-width: $screen-md) {
    padding-top: 42px;
  }
  &__item {
    position: relative;
  }
  &__delete {
    position: absolute;
    width: 33px;
    height: 33px;
    border: 2px solid #e5e5e5;
    background-color: #fff;
    border-radius: 50%;
    top: 8px;
    right: 0px;
    font-size: 0;
    z-index: 1;
    @media (min-width: $screen-md) {
      width: 55px;
      height: 55px;
      top: -1px;
      right: -11px;
    }
    &:after ,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 2px;
      transform-origin: 50% 50%;
      background-color: #c9c9c9;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:hover {
      border-color: $base-color;
    }
    &:hover:after ,
    &:hover:before {
      background-color: $base-color;
    }
    &:active ,
    &:active {
      background-color: $base-color;
      border-color: $base-color;
    }
    &:active:after ,
    &:active:before {
      background-color: #fff;
    }
  }
  &__img {
    position: relative;
    display: block;
    width: 67px;
    height: 67px;
    margin: 25px 15px;
    font-size: 50px;
    @media (min-width: $screen-md) {
      width: 120px;
      height: 120px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 67px;
      height: 67px;
      @media (min-width: $screen-md) {
        width: 120px;
        height: 120px;
      }
    }
    figcaption {
      position: absolute;
      bottom: -25px;
      margin: 6px 0 0;
      padding: 0;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
}


.submit {
  margin: 0 0 63px;
  @include wrapper;
  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $screen-lg) {
    margin-bottom: 0;
  }
  &__btn {
    display: block;
    margin-top: 48px;
    width: 100%;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: 59px;
    border: 2px solid $color-green;
    border-radius: 2px;
    background-color: $color-green;
    color: #fff;
    @media (min-width: $screen-md) {
      margin-top: 60px;
      width: auto;
      flex-grow: 1;
    }
    &:hover {
      background-color: #1c9b5e;
    }
    &:active {
      background-color: #1c9b5e;
      color: rgba(#fff, .3);
    }
  }
  &__required-note {
    display: block;
    margin: 0;
    padding: 45px 0 0;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-line-height;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
      flex-grow: 1;
      width: auto;
      text-align: right;
    }
  }
}


.asterisk {
  font-weight: normal;
  font-size: $base-font-size;
  line-height: $header-line-height;
  color: $color-red;
  text-transform: uppercase;
}


.success {
  width: 100%;
  display: flex;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
  &__inner {
    margin: auto;
    max-width: 500px;
    background-color: #fff;
  }
  &--hidden {
    display: none;
  }
  &__header {
    padding: 0 20px;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-font-size;
    color: #000;
  }
  &__text {
    padding: 0 20px 32px;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $header-font-size;
    color: $base-color;
  }
  &__btn-overlay {
    margin: 0;
    padding: 50px 20px;
    background-color: $color-bg-grey;
  }
  &__btn {
    width: 100%;
    background-color: $color-green;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: 63px;
    &:hover {
      background-color: #1c9b5e;
    }
    &:active {
      background-color: #1c9b5e;
      color: rgba(#fff, .3);
    }
  }
}


/* --- blog.html ----------------------------------------- */

.post-preview {
  margin: 0 0 20px;
  padding: 5px 0 21px;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: 27px;
  color: $base-color;
  border-bottom: 1px solid $color-border;
  @media (min-width: $screen-md) {
    margin-bottom: 64px;
    border-bottom: none;
  }
  @media (min-width: $screen-lg) {
    margin-bottom: 72px;
  }
  & a {
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: 27px;
    color: $base-color;
  }
  &__header {
    position: relative;
    margin: 0 0 2px;
    padding: 0;
    font-size: $middle-font-size;
    font-weight: bold;
    @media (min-width: $screen-md) {
      margin-bottom: 8px;
      font-size: 27px;
    }
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 28px;
      height: 26px;
      background: url(../img/blog-post-icon.svg) no-repeat center;
      background-size: 28px 26px;
      left: -58px;
      top: 5px;
    }
  }
  &__subheader {
    margin: 0 0 12px;
    padding: 0;
    font-size: 12px;
    color: $color-red;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
      margin-bottom: 22px;
      font-size: $base-font-size;
    }
  }
  &__text {
    margin: 0;
    padding: 0;
    @media (min-width: $screen-md) {
      font-size: $middle-font-size;
    }
  }
  &:last-of-type {
    margin-bottom: 29px;
    border-bottom: none;
    @media (min-width: $screen-lg) {
      margin-bottom: 72px;
    }
  }
}


.pager {
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 40px;
  &:before {
    @media (min-width: $screen-md) {
      position: absolute;
      content: "Стр.";
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: -60px;
      font-weight: bold;
      font-size: $middle-font-size;
      line-height: $header-line-height;
      text-transform: uppercase;
    }
  }
  & a {
    text-decoration: none;
  }
  &__item {
    margin: 0 10px 0 0;
    &:last-child {
      margin-right: 0;
    }
    width: 59px;
    border: 2px solid $color-border;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: 59px;
    color: $base-color;
    &--active {
      border-color: $color-red;
    }
  }
}


/* --- post.html ----------------------------------------- */

.post {
  font-weight: normal;
  line-height: 27px;
  color: $base-color;
  text-align: left;
  font-size: $base-font-size;
  line-height: 27px;
  @media (min-width: $screen-md) {
    font-size: $middle-font-size;
    line-height: $header-line-height;
  }
  &__preview-wrapper {
    position: relative;
    margin: 0 0 53px;
    padding: 0;
    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
    }
  }
  &__header {
    margin: 16px 0;
    text-align: center;
    font-weight: bold;
    font-size: $header-font-size;
    line-height: 36px;
    @media (min-width: $screen-md) {
      margin: 33.5px 0 22px;
      font-size: 50px;
      line-height: 60px;
    }
  }
  &__subheader{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-red;
    @media (min-width: $screen-md) {
      position: absolute;
      display: inline-block;
      vertical-align: top;
      z-index: 1;
      font-size: $base-font-size;
      line-height: $header-line-height;
      order: 2;
      background: #fff;
      padding: 0 20px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -18px;
    }
  }
  &__preview {
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid $color-border;
    @media (min-width: $screen-md) {
      margin: 0;
      padding-bottom: 44px;
      font-size: $header-font-size;
      line-height: 40px;
      border-bottom: 2px dotted $color-border;
      order: 1;
    }
  }
  &__subtitle {
    margin: 15px 0;
    font-weight: bold;
    font-size: $middle-font-size;
    line-height: $header-line-height;
    @media (min-width: $screen-md) {
      margin: 58px 0 19.920px;
      padding-bottom: 3px;
      font-size: $header-font-size;
      line-height: $header-line-height;
      text-transform: uppercase;
    }
  }
  &__link {
    color: $color-red;
  }
  &__list {
    margin: 32px 0 61px;
    padding: 0 0 0 23px;
    list-style: none;
    &-item {
      position: relative;
      margin: 20px 0;
      &:before {
        content: "";
        position: absolute;
        left: -22px;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background-color: $color-red;
        border-radius: 50%;
      }
    }
  }
  &__cite {
    padding: 0 0 0 20px;
    border-left: 2px solid $color-red;
    &--author {
      margin: 0;
      display: block;
      padding: 0;
      font-style: italic;
    }
  }
}


.post-wrapper {
  @include wrapper;
  overflow: hidden;
}
